s<%- include('partials/navbar') %>
    <link rel="stylesheet" href="/views/asset/css/style.css">


    <style>
        body {

            background-size: 150vh;

            background-image: url(https://img.freepik.com/free-photo/warmth-cafe-dull-day-oslo_53876-139512.jpg?w=1480&t=st=1697208752~exp=1697209352~hmac=e662c8e415e624771d4a6d18ade7f43efd05e737b68882e24acfb8c3913b7c69);


        }

        .container h2 {
            color: aliceblue;

        }
    </style>

    <!-- Daftar Berita -->
    <div class="container mt-4">
        <h2>Daftar Menu</h2>
        <div class="row">
            <% produk.forEach(data=> { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="<%=data.image %>" class="card-img-top" alt="Minuman2" width="100" height="200">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= data.nama %>
                            </h5>
                            <p class="card-text">
                                <%= data.harga%>
                            </p>
                            <p class="card-text">
                                <%= data.deskripsi%>
                            </p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
        <!-- Tambahkan lebih banyak card berita jika diperlukan -->
    </div>

    </div>


    <%- include("partials/footer") %>